<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar curso</title>
</head>
<body>
    
    <h1>Editar curso</h1>
    <form method="POST">
        <table>
            {{form}}
        </table>
        <button type="submit">Enviar</button>
        {%csrf_token%}
    </form>
    
    <a href="{%url 'cursos'%}">Volver a los cursos</a>
</body>
</html>