<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar carrera</title>
  </head>
  <body>
    <h1>Agregar nueva carrera</h1>

    <form action="." method="POST">
      {%csrf_token%}

      <div>
        <label for="Codigo">Codigo de carrera</label>
        <input type="number" name="Codigo" id="Codigo" value={{num_codigo}} required  readonly/>
      </div><br/>

      <div>
        <label for="Nombre">Nombre</label>
        <input type="text" name="Nombre" id="Nombre" required/>
      </div><br/>

      <div>
        <label for="Duracion">Duracion</label>
        <input type="number" name="Duracion" id="Duracion" required />
      </div><br/>

      <button type="submit">Enviar</button>
    </form>
    <a href="{%url 'index'%}">Volver a inicio</a>

  </body>
</html>