<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar carrera</title>
</head>
<body>

  <h1>Editar carrera</h1>

  <form method="POST">

    {%csrf_token%}
  <div>
      {{carreraForm.Codigo}}
  </div><br>

  <div>
      {{carreraForm.Nombre}}
  </div><br>

  <div>
      {{carreraForm.Duracion}}
  </div><br>  

  <button type="submit">Enviar</button>
  </form>

  <a href="{%url 'index'%}">Volver a inicio</a>

  </body>
</html>

