<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Universidad Django</title>
  </head>

  <body>
    <h1>Sistema universitario Django</h1>

    <div>
      <p>Carreras disponibles: {{total_carreras}}</p>
    </div>

    <a href="{%url 'nueva_carrera'%}">Agregar carreras</a>
    <a href="{%url 'estudiantes'%}"> Ver estudiantes</a>
    <a href="{%url 'cursos'%}">Cursos disponibles</a>

    <table border="1">
      
      <thead>
        <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Duración</th>
        </tr>
      </thead>

      <tbody>
        {%for carrera in carreras%}
        <tr>
          <td>{{carrera.Codigo}}</td>
          <td>{{carrera.Nombre}}</td>
          <td>{{carrera.Duracion}}</td>
          <td><a href="ver_estudiantes/{{carrera.Codigo}}">Ver estudiantes</a></td>
          <td><a href="eliminar_carrera/{{carrera.Codigo}}">Eliminar carrera</a></td>
          <td><a href="editar_carrera/{{carrera.Codigo}}">Editar carrera</a></td>
          <td><a href="ver_cursos/{{carrera.Codigo}}">Ver cursos</a></td>
        </tr>
        {%endfor%}
      </tbody>

    </table>
  </body>
</html>
